/* ============================================================
   ARCHIVO: login.css
   DESCRIPCIÓN: Define el diseño visual de la página de login
   del sistema AITHER, incluyendo estructura, encabezado,
   formulario de acceso, panel lateral de registro y adaptación
   a pantallas móviles.
   AUTOR: [Tu nombre aquí]
   FECHA: 03/11/2025
   COPYRIGHT: © 2025 AITHER. Todos los derechos reservados.
   ============================================================ */
body {
  margin: 0;
  height: 100vh;
  background-image: url("../img/fondo_login.png");
  /* Llena toda la pantalla, lo centra y evita repeticiones */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
}

/* ---------- Contenedor principal ---------- */
header:last-child:hover {
  text-decoration: none;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 900px;
  height: 500px;
  border-radius: 60px;
  overflow: hidden;
  background: rgba(var(--Principal_2_RGB));
  opacity: 70%;
}


/* ---------- FORMULARIOS ---------- */

.container-form {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  padding: 0 50px;
  color: var(--Secundario_Blanco);
}

.sign-in-container {
  left: 0;
  z-index: 2;
}

.sign-up-container {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.container.active .sign-in-container {
  transform: translateX(67%);
  opacity: 0;
  z-index: 1;
}

.container.active .sign-up-container {
  transform: translateX(67%);
  opacity: 1;
  z-index: 2;
}

/* ---------- PANEL AZUL DESLIZANTE ---------- */
.overlay-container {
  position: absolute;
  top: 0;
  left: 60%;
  width: 40%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
}

.overlay {
  background: var(--Principal_1);
  color: var(--Principal_2);
  opacity: 80%;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

/* --- Animación del overlay al activar registro --- */
.container.active .overlay-container {
  transform: translateX(-150%);
}

.container.active .overlay {
  transform: translateX(50%);
}

.container.active .overlay-left {
  transform: translateX(0);
}

.container.active .overlay-right {
  transform: translateX(20%);
}

/* ---------- ELEMENTOS INTERNOS ---------- */
.container-input {
  width: 100%;
  margin-bottom: 15px;
}

.container-input h3 {
  font-size: 16px;
  margin-bottom: 5px;
  color: var(--Secundario_Blanco);
}

.container-input input {
  width: 100%;
  height: 30px;
  padding: 10px;
  color:var(--Principal_1);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--Principal_1);
  outline: none;
}

.forgot {
  color: var(--Principal_1);
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  margin-top: 8px;
}
.forgot:hover {
  text-decoration: underline;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--Principal_1);
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid var(--Principal_1);
  margin: 0 10px;
}

.politica-btn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -10px;
}

.politica-btn button {
  margin: 0;
  height: 40px;
}

#message-login,
#message-register {
  text-align: center;
  width: 100%;
  margin: 10px 0;
}

.politica {
  display: flex;
  align-items: center;
}

.checkbox-custom {
  display: flex;
  align-items: center;
}

/* Ocultamos el checkbox */
.checkbox-custom input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Creamos el checkbox visible */
.checkbox-custom .checkmark {
  height: 16px;
  width: 16px;
  border: 2px solid var(--Principal_1);
  background-color: transparent;
  display: inline-block;
  margin-right: 10px;
  transition: all 0.3s ease;
}

/* Efecto al pasar el cusor */
.checkbox-custom:hover .checkmark {
  background-color: rgba(var(--Principal_2_RGB), 0.1);
}

/* Checkbox marcado */
.checkbox-custom input:checked + .checkmark {
  background-color: var(--Principal_1);
}

/* ---------- BOTONES ---------- */
.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  width: 240px;
  background: var(--Secundario_Azul);
  border: 3px solid var(--Principal_1);
  color: white;
  font-size: 20px;
  font-weight: var(--semibold);
  padding: 10px;
  border-radius: 69px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-primary:hover {
  background: var(--Principal_1);
}

.btn-secondary {
  text-decoration: underline;
  cursor: pointer;
  text-underline-offset: 3px;
  transition: color 0.3s ease;
}

.btn-secondary:hover {
  color: var(--Secundario_Azul)
}

/* ---------- REDES SOCIALES ---------- */
form h1 {
  color: var(--Principal_1);
  margin-bottom: 20px;
}

/* ---------- REDES SOCIALES ---------- */
.social-networks {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}

.social-networks img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.3s;
}

.social-networks img:hover {
  transform: scale(1.1);
}