/* estilos.css */

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    background: linear-gradient(180deg, #7c8cb5 0%, #b8c3da 100%);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
}

header a > img {
    width: 160px;
    height: auto;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 80px;
    list-style: none;
}

nav a {
    color: var(--Principal_1);
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

/* Botón del header activo (clicable) */
nav ul li:last-child a.enabled {
    background-color: var(--Principal_1); /* azul */
    color: var(--Principal_2);
    pointer-events: auto;
    padding: 10px 20px;
    cursor: pointer;
    opacity: 1;
    border-radius: 69px;
    text-decoration: none;
}

/* Botón del header deshabilitado */
nav ul li:last-child a.disabled {
    background-color: #5E5E5E;
    color: var(--Principal_2);
    /* evita clicks */
    pointer-events: none;
    padding: 10px 20px;
    cursor: pointer;
    opacity: 0.6;
    border-radius: 69px;

    text-decoration: none;
}

nav ul li:last-child a.disabled:hover {
    background-color: #5E5E5E; /* evitar hover */
    color: var(--Principal_2);
}


nav a:hover {
    /* Cuando esté el cursor encima se subraya */
    text-decoration: underline;
}
.btn-login {
    background-color: #1c3f85;
    border: none;
    color: white;
    padding: 0.6em 1.2em;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-login:hover {
    background-color: #284c97;
}

.main-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3em 5em;
    gap: 3em;
}

.info {
    max-width: 600px;
    text-align: justify;
}

.info h2 {
    font-size: 1.5em;
    color: #ffffff;
}

.image-container img {
    width: 400px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}
